# Categories

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = "https://www.numbeo.com/cost-of-living/in/Cluj-napoca"
page = urlopen(url)
html_bytes = page.read()
html = html_bytes.decode("utf-8")

soup = BeautifulSoup(html, "html.parser")
data = []
table = soup.find('table', attrs={'class':'data_wide_table new_bar_table'})

rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values
    
data2 = [x for x in data if x != []]
categories = []
categories = [el[0] for el in data2]

# List of cities

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
url = "https://www.numbeo.com/cost-of-living/rankings_current.jsp"
page = urlopen(url)
html_bytes = page.read()
html = html_bytes.decode("utf-8")
soup = BeautifulSoup(html, "html.parser")

cities_data = []
table = soup.find('table', attrs={'id':'t2'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    cities_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [4]:
cities_countries = [el[0]for el in cities_data]

In [5]:
cities = []
for i in cities_countries:
    cities.append(i.split(", ")[0])

In [6]:
exceptions = ["The Hague (Den Haag)","Zaragoza (Saragossa)","Seville (Sevilla)","Jeddah (Jiddah)","Krakow (Cracow)","Erbil (Irbil)","Kiev (Kyiv)","Astana (Nur-Sultan)","Odessa (Odesa)","Lucknow (Lakhnau)","Kozhikode (Calicut)","Freiburg im Breisgau",'North Vancouver','Stoke-on-Trent','Newcastle upon Tyne','Kingston upon Hull','Palma de Mallorca','Port of Spain','Santa Cruz de Tenerife','Cluj-Napoca','Dar es Salaam','Rio de Janeiro','Nizhny Novgorod','Tyumen','Irkutsk','Zapopan','Cairo','Volgograd','Mykolaiv','Dnipro','Vinnytsia','Ternopil']
link_names = ["The-Hague-Den-Haag-Netherlands","Zaragoza-Saragossa","Sevilla","Jeddah-Jiddah","Krakow-Cracow","Erbil-Irbil-Iraq","Kiev","Astana-Nur-Sultan-Kazakhstan","Odesa","Lucknow-Lakhnau","Kozhikode-Calicut","Fribourg","North-Vancouver-Canada","Stoke-On-Trent","Newcastle-Upon-Tyne","Kingston-Upon-Hull","Palma-De-Mallorca","Port-Of-Spain","Santa-Cruz-De-Tenerife","Cluj-napoca","Dar-Es-Salaam","Rio-De-Janeiro","Nizhny-Novgorod-Russia","Tyumen-Russia","Irkutsk-Russia","Zapopan-Mexico","Cairo-Egypt","Volgograd-Russia","Mykolayiv-Ukraine","Dnipropetrovsk","Vinnytsya-Ukraine","Ternopil-Ukraine"]

for i in cities:
    if i in exceptions:
        print(i)
        index = exceptions.index(i)
        print(index)
        print(cities[cities.index(i)])
        cities[cities.index(i)] = link_names[index]
    
for i in cities:
    if " " in i:
        cities[cities.index(i)] = i.replace(" ", "-")

The Hague (Den Haag)
0
The Hague (Den Haag)
Freiburg im Breisgau
11
Freiburg im Breisgau
North Vancouver
12
North Vancouver
Stoke-on-Trent
13
Stoke-on-Trent
Newcastle upon Tyne
14
Newcastle upon Tyne
Kingston upon Hull
15
Kingston upon Hull
Palma de Mallorca
16
Palma de Mallorca
Zaragoza (Saragossa)
1
Zaragoza (Saragossa)
Port of Spain
17
Port of Spain
Seville (Sevilla)
2
Seville (Sevilla)
Santa Cruz de Tenerife
18
Santa Cruz de Tenerife
Jeddah (Jiddah)
3
Jeddah (Jiddah)
Krakow (Cracow)
4
Krakow (Cracow)
Cluj-Napoca
19
Cluj-Napoca
Erbil (Irbil)
5
Erbil (Irbil)
Dar es Salaam
20
Dar es Salaam
Rio de Janeiro
21
Rio de Janeiro
Nizhny Novgorod
22
Nizhny Novgorod
Tyumen
23
Tyumen
Irkutsk
24
Irkutsk
Zapopan
25
Zapopan
Cairo
26
Cairo
Astana (Nur-Sultan)
7
Astana (Nur-Sultan)
Kiev (Kyiv)
6
Kiev (Kyiv)
Odessa (Odesa)
8
Odessa (Odesa)
Volgograd
27
Volgograd
Mykolaiv
28
Mykolaiv
Dnipro
29
Dnipro
Vinnytsia
30
Vinnytsia
Ternopil
31
Ternopil
Lucknow (Lakhnau)
9
Lucknow (Lakhnau)
Kozhikode (Calicut)
10
Kozhikode (Calicut)

# Setting up data structure

In [7]:
categories[4] = categories[4] + "1"

In [8]:
import pandas as pd

cities_column = cities

df = pd.DataFrame(columns=categories)
df = df.fillna(0)

In [9]:
df.insert(loc=0, column='Cities', value=cities)

In [10]:
df = df.fillna(0)

In [11]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,Hamilton,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Basel,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lugano,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Zurich,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Lausanne,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
584,Visakhapatnam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
585,Bhubaneswar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,Karachi,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
587,Thiruvananthapuram,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Comparison data

In [12]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [14]:
def scraping_data():
    
    for city in cities:
        url = "https://www.numbeo.com/cost-of-living/in/"
        url = url + city + "?displayCurrency=EUR"
        print(url)
        page = urlopen(url)
        html_bytes = page.read()
        html = html_bytes.decode("utf-8")
        soup = BeautifulSoup(html, "html.parser")
        city_data = []
        table = soup.find('table', attrs={'class':'data_wide_table new_bar_table'})
        
        try:
            rows = table.find_all('tr')
        except:
            print("its no good: " + city)
            pass
        
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            city_data.append([ele for ele in cols if ele])
            
        city_data2 = [x for x in city_data if x != []]  # Get rid of empty values
            
        prices_city = []
        prices_city = [el[1] for el in city_data2]
        
        df.loc[df['Cities'] == city, categories] = prices_city

In [15]:
scraping_data()

https://www.numbeo.com/cost-of-living/in/Hamilton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Basel?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lugano?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Zurich?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lausanne?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Geneva?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bern?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tromso?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Stavanger?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Trondheim?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Oslo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bergen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Reykjavik?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/New-York?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Copenhagen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nagoya?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dubrovnik?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Arhus?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Paris?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tel-Aviv-Yafo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Honolulu?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Aalborg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Alexandria?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/San-Francisco?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Anchorage?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Luxembourg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tokyo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Oakland?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Seattle?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Queens?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nassau?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Boston?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Stockholm?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Amsterdam?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dublin?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Seoul?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Sydney?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cork?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Osaka?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Darwin?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Uppsala?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Antibes?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Odense?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/London?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Haifa?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Jerusalem?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Utrecht?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Galway?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Newcastle?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Singapore?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Washington?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Milan?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Auckland?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Breda?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Brisbane?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Perth?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Beirut?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Jersey-City?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Canberra?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Eindhoven?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lyon?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nice?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Strasbourg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Valletta?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bend?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Helsinki?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lund?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Munich?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Minneapolis?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Los-Angeles?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Oulu?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Gold-Coast?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Marseille?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Rennes?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Linz?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Groningen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Haarlem?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Chicago?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fremont?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Leiden?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Montpellier?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Charleston?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Melbourne?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Leuven?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Brighton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Gothenburg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Genoa?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Peterborough?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/San-Diego?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Milwaukee?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Gent?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fort-Lauderdale?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hamilton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Graz?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Toulouse?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Sliema?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Antwerp?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Christchurch?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Brescia?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bergamo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Grenoble?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hong-Kong?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Saint-Paul?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Brussels?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Salzburg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Rome?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nijmegen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Adelaide?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Maastricht?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tampa?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/San-Jose?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Espoo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Irvine?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Malmo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Limerick?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Philadelphia?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Rotterdam?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Portland?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Pittsburgh?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tampere?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Parma?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Wellington?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nantes?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bologna?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dresden?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Miami?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Florence?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hobart?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Turku?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Sacramento?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Kingston?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Charlotte?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/New-Orleans?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Atlanta?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cleveland?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Heidelberg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Burnaby?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Trieste?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Milton-Keynes?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Delft?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Toronto?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Red-Deer?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Frankfurt?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Everett?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Enschede?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Saint-John's?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Edinburgh?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Verona?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bonn?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Augsburg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lille?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Vancouver?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Reading?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Halifax?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fredericton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Surrey?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/York?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Birmingham?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bristol?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cambridge?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Mannheim?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hamburg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Turin?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Ann-Arbor?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nuremberg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Rochester?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Denver?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/The-Hague-Den-Haag-Netherlands?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bellingham?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Aberdeen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Erlangen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Swansea?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Stuttgart?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cologne?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Victoria?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Spokane?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Colorado-Springs?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Calgary?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Baltimore?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Berlin?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nashville?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dusseldorf?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Edmonton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Oxford?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Portsmouth?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Columbus?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Buffalo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Guelph?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Albany?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Vienna?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Winnipeg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Coventry?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lincoln?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Plymouth?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Regina?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Manchester?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nottingham?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Southampton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Mississauga?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Ottawa?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dortmund?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fribourg?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/San-Juan?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Olympia?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Macao?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Riverside?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Saskatoon?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Omaha?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Raleigh?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Exeter?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nanaimo?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Birmingham?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Padova?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Brampton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Orlando?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Naples?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Derby?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Nicosia?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Norwich?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Glasgow?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Limassol?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Las-Vegas?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Vancouver?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cagliari?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Detroit?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Jacksonville?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Markham?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Karlsruhe?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/North-Vancouver-Canada?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Coquitlam?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Liverpool?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Cardiff?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fort-Worth?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Darmstadt?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dundee?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hanover?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Kansas-City?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Montreal?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Madison?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bremen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Leicester?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Hamilton?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Essen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Saint-Louis?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Richmond?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bilbao?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Quebec-City?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Fresno?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Zadar?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Barcelona?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Stoke-On-Trent?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Eugene?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Sheffield?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Lincoln?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Aachen?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Newcastle-Upon-Tyne?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Des-Moines?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Kitchener?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dubai?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Louisville?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Indianapolis?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Kelowna?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Knoxville?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Taipei?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Madrid?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Tucson?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Leipzig?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Bournemouth?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/London?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Reno?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Phoenix?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Houston?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Baton-Rouge?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Leeds?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Akron?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Belfast?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Albuquerque?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Windsor?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Huntsville?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Dallas?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Kingston-Upon-Hull?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Little-Rock?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Doha?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Oklahoma-City?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/San-Antonio?displayCurrency=EUR
https://www.numbeo.com/cost-of-living/in/Salt-Lake-City?displayCurrency=EUR

In [16]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,Hamilton,11.48 €,36.68 €,7.66 €,3.19 €,4.47 €,2.43 €,1.50 €,1.08 €,2.06 €,...,65.25 €,80.64 €,817.67 €,701.56 €,"1,238.67 €","1,152.05 €","3,382.42 €","2,344.86 €","1,960.41 €",3.34
1,Basel,23.81 €,101.59 €,12.93 €,6.93 €,6.00 €,4.57 €,3.91 €,3.66 €,1.56 €,...,94.66 €,121.33 €,"1,176.71 €",935.88 €,"2,335.31 €","1,905.47 €","10,351.65 €","7,999.56 €","4,956.56 €",2.03
2,Lugano,23.09 €,92.36 €,12.01 €,6.46 €,5.54 €,3.42 €,3.63 €,2.89 €,1.37 €,...,108.98 €,184.71 €,"1,094.43 €",881.59 €,"2,071.43 €","1,564.29 €","10,343.96 €","5,803.08 €","4,521.38 €",1.56
3,Zurich,23.09 €,92.36 €,13.85 €,6.46 €,5.54 €,4.63 €,4.18 €,3.72 €,1.51 €,...,101.97 €,151.08 €,"1,785.21 €","1,310.76 €","3,409.05 €","2,359.60 €","11,949.69 €","7,745.24 €","6,070.19 €",1.25
4,Lausanne,23.09 €,101.59 €,12.93 €,7.39 €,6.37 €,4.06 €,3.34 €,3.23 €,1.30 €,...,100.99 €,170.01 €,"1,374.71 €","1,095.09 €","2,694.33 €","2,201.17 €","12,899.16 €","10,313.17 €","5,158.80 €",1.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,1.53 €,8.41 €,3.31 €,2.49 €,4.33 €,1.47 €,0.22 €,0.16 €,0.56 €,...,37.13 €,31.62 €,123.32 €,78.00 €,232.77 €,165.35 €,562.12 €,340.45 €,174.58 €,15.89
584,Visakhapatnam,1.11 €,7.20 €,2.77 €,1.11 €,2.00 €,1.16 €,0.37 €,0.15 €,0.56 €,...,30.13 €,25.56 €,92.58 €,52.09 €,220.50 €,140.21 €,609.69 €,310.71 €,313.11 €,11.29
585,Bhubaneswar,1.11 €,6.65 €,2.77 €,1.66 €,2.77 €,0.93 €,0.30 €,0.14 €,0.51 €,...,35.33 €,30.93 €,82.60 €,54.36 €,198.67 €,117.25 €,728.47 €,389.77 €,388.90 €,9.54
586,Karachi,1.02 €,10.19 €,3.31 €,1.53 €,3.57 €,1.36 €,0.23 €,0.17 €,0.59 €,...,38.12 €,27.76 €,103.11 €,69.17 €,244.42 €,145.41 €,577.79 €,364.49 €,180.63 €,13.35
587,Thiruvananthapuram,1.11 €,4.66 €,3.05 €,1.22 €,2.99 €,1.16 €,0.40 €,0.15 €,0.52 €,...,26.43 €,22.89 €,94.14 €,63.76 €,224.28 €,148.98 €,754.06 €,528.39 €,402.12 €,8.47

In [17]:
def convert_to_number(x):
    
    x = x.split()
    return x[0]

In [18]:
for i in df.columns:
    df[i] = df[i].apply(convert_to_number)

In [20]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,...,65.25,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34
1,Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,...,94.66,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03
2,Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,...,108.98,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56
3,Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,...,101.97,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25
4,Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,...,100.99,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,...,37.13,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89
584,Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,...,30.13,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29
585,Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,...,35.33,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54
586,Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,...,38.12,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35
587,Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,...,26.43,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47

In [21]:
df['Currency'] = "EUR"

In [22]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Currency
0,Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,...,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34,EUR
1,Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,...,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03,EUR
2,Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,...,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56,EUR
3,Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,...,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25,EUR
4,Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,...,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,...,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89,EUR
584,Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,...,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29,EUR
585,Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,...,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54,EUR
586,Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,...,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35,EUR
587,Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,...,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47,EUR

In [33]:
df = df.set_index('Cities')

In [36]:
df

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Currency
Cities,,,,,,,,,,,,,,,,,,,,,
Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,1.80,...,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34,EUR
Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,2.56,...,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03,EUR
Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,2.31,...,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56,EUR
Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,2.58,...,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25,EUR
Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,2.74,...,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,0.40,...,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89,EUR
Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,0.45,...,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29,EUR
Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,0.44,...,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54,EUR
Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,0.36,...,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35,EUR
Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,0.36,...,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47,EUR

In [41]:
df.to_json('numbeo_comparison.json', orient='records')

In [37]:
df.reset_index(inplace=True)

In [39]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Currency
0,Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,...,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34,EUR
1,Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,...,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03,EUR
2,Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,...,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56,EUR
3,Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,...,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25,EUR
4,Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,...,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,...,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89,EUR
584,Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,...,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29,EUR
585,Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,...,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54,EUR
586,Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,...,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35,EUR
587,Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,...,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47,EUR

In [2]:
import pandas as pd

df = pd.read_csv("cost_of_living_eur.csv")

In [5]:
del df['Unnamed: 0']

In [7]:
df.set_index("Cities")

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Currency
Cities,,,,,,,,,,,,,,,,,,,,,
Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,1.80,...,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34,EUR
Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,2.56,...,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03,EUR
Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,2.31,...,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56,EUR
Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,2.58,...,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25,EUR
Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,2.74,...,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,0.40,...,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89,EUR
Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,0.45,...,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29,EUR
Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,0.44,...,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54,EUR
Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,0.36,...,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35,EUR
Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,0.36,...,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47,EUR

In [23]:
df['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'] = df['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'].replace(['?'],0)

In [25]:
df['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'] = df['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'].astype(float)

In [26]:
df.dtypes

Cities                                                                         object
Meal, Inexpensive Restaurant                                                  float64
Meal for 2 People, Mid-range Restaurant, Three-course                         float64
McMeal at McDonalds (or Equivalent Combo Meal)                                float64
Domestic Beer (0.5 liter draught)                                             float64
Imported Beer (0.33 liter bottle)1                                            float64
Cappuccino (regular)                                                          float64
Coke/Pepsi (0.33 liter bottle)                                                float64
Water (0.33 liter bottle)                                                     float64
Milk (regular), (1 liter)                                                     float64
Loaf of Fresh White Bread (500g)                                              float64
Rice (white), (1kg)                                                           float64
Eggs (regular) (12)                                                           float64
Local Cheese (1kg)                                                            float64
Chicken Fillets (1kg)                                                         float64
Beef Round (1kg) (or Equivalent Back Leg Red Meat)                            float64
Apples (1kg)                                                                  float64
Banana (1kg)                                                                  float64
Oranges (1kg)                                                                 float64
Tomato (1kg)                                                                  float64
Potato (1kg)                                                                  float64
Onion (1kg)                                                                   float64
Lettuce (1 head)                                                              float64
Water (1.5 liter bottle)                                                      float64
Bottle of Wine (Mid-Range)                                                    float64
Domestic Beer (0.5 liter bottle)                                              float64
Imported Beer (0.33 liter bottle)                                             float64
Cigarettes 20 Pack (Marlboro)                                                 float64
One-way Ticket (Local Transport)                                              float64
Monthly Pass (Regular Price)                                                  float64
Taxi Start (Normal Tariff)                                                    float64
Taxi 1km (Normal Tariff)                                                      float64
Taxi 1hour Waiting (Normal Tariff)                                            float64
Gasoline (1 liter)                                                            float64
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)                    object
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)                 object
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment      float64
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)                 float64
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                        float64
Fitness Club, Monthly Fee for 1 Adult                                         float64
Tennis Court Rent (1 Hour on Weekend)                                         float64
Cinema, International Release, 1 Seat                                         float64
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child            object
International Primary School, Yearly for 1 Child                               object
1 Pair of Jeans (Levis 501 Or Similar)                                        float64
1 Summer Dress in a Chain Store (Zara, H&M, ...)                              float64
1 Pair of Nike Running Shoes (Mid-Range)                                      float64
1 Pair of Men Leather Business Shoes                                          float64
Apartment (1 bedroom) in City Centre                                           object
Apartment (1 bedroom) Outside of Centre                                        object
Apartment (3 bedrooms) in City Centre                                          object
Apartment (3 bedrooms) Outside of Centre                                       object
Price per Square Meter to Buy Apartment in City Centre                         object
Price per Square Meter to Buy Apartment Outside of Centre                      object
Average Monthly Net Salary (After Tax)                                         object
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate    float64
Currency                                                                       object
dtype: object

In [27]:
df_columns = list(df)

In [33]:
for i in range(1,55):
    df[df_columns[i]] = df[df_columns[i]].replace(['?'],0)

In [39]:
for i in range(1,55):
    if df[df_columns[i]].dtypes != 'float64':
        df[df_columns[i]] = df[df_columns[i]].replace({',': ''}, regex=True)

In [37]:
df

,Cities,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle)1,Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Currency
0,Hamilton,11.48,36.68,7.66,3.19,4.47,2.43,1.50,1.08,2.06,...,80.64,817.67,701.56,"1,238.67","1,152.05","3,382.42","2,344.86","1,960.41",3.34,EUR
1,Basel,23.81,101.59,12.93,6.93,6.00,4.57,3.91,3.66,1.56,...,121.33,"1,176.71",935.88,"2,335.31","1,905.47","10,351.65","7,999.56","4,956.56",2.03,EUR
2,Lugano,23.09,92.36,12.01,6.46,5.54,3.42,3.63,2.89,1.37,...,184.71,"1,094.43",881.59,"2,071.43","1,564.29","10,343.96","5,803.08","4,521.38",1.56,EUR
3,Zurich,23.09,92.36,13.85,6.46,5.54,4.63,4.18,3.72,1.51,...,151.08,"1,785.21","1,310.76","3,409.05","2,359.60","11,949.69","7,745.24","6,070.19",1.25,EUR
4,Lausanne,23.09,101.59,12.93,7.39,6.37,4.06,3.34,3.23,1.30,...,170.01,"1,374.71","1,095.09","2,694.33","2,201.17","12,899.16","10,313.17","5,158.80",1.20,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Lahore,1.53,8.41,3.31,2.49,4.33,1.47,0.22,0.16,0.56,...,31.62,123.32,78.00,232.77,165.35,562.12,340.45,174.58,15.89,EUR
584,Visakhapatnam,1.11,7.20,2.77,1.11,2.00,1.16,0.37,0.15,0.56,...,25.56,92.58,52.09,220.50,140.21,609.69,310.71,313.11,11.29,EUR
585,Bhubaneswar,1.11,6.65,2.77,1.66,2.77,0.93,0.30,0.14,0.51,...,30.93,82.60,54.36,198.67,117.25,728.47,389.77,388.90,9.54,EUR
586,Karachi,1.02,10.19,3.31,1.53,3.57,1.36,0.23,0.17,0.59,...,27.76,103.11,69.17,244.42,145.41,577.79,364.49,180.63,13.35,EUR
587,Thiruvananthapuram,1.11,4.66,3.05,1.22,2.99,1.16,0.40,0.15,0.52,...,22.89,94.14,63.76,224.28,148.98,754.06,528.39,402.12,8.47,EUR

In [40]:
for i in range(1,55):
    df[df_columns[i]] = df[df_columns[i]].astype(float)

In [43]:
df.dtypes

Cities                                                                         object
Meal, Inexpensive Restaurant                                                  float64
Meal for 2 People, Mid-range Restaurant, Three-course                         float64
McMeal at McDonalds (or Equivalent Combo Meal)                                float64
Domestic Beer (0.5 liter draught)                                             float64
Imported Beer (0.33 liter bottle)1                                            float64
Cappuccino (regular)                                                          float64
Coke/Pepsi (0.33 liter bottle)                                                float64
Water (0.33 liter bottle)                                                     float64
Milk (regular), (1 liter)                                                     float64
Loaf of Fresh White Bread (500g)                                              float64
Rice (white), (1kg)                                                           float64
Eggs (regular) (12)                                                           float64
Local Cheese (1kg)                                                            float64
Chicken Fillets (1kg)                                                         float64
Beef Round (1kg) (or Equivalent Back Leg Red Meat)                            float64
Apples (1kg)                                                                  float64
Banana (1kg)                                                                  float64
Oranges (1kg)                                                                 float64
Tomato (1kg)                                                                  float64
Potato (1kg)                                                                  float64
Onion (1kg)                                                                   float64
Lettuce (1 head)                                                              float64
Water (1.5 liter bottle)                                                      float64
Bottle of Wine (Mid-Range)                                                    float64
Domestic Beer (0.5 liter bottle)                                              float64
Imported Beer (0.33 liter bottle)                                             float64
Cigarettes 20 Pack (Marlboro)                                                 float64
One-way Ticket (Local Transport)                                              float64
Monthly Pass (Regular Price)                                                  float64
Taxi Start (Normal Tariff)                                                    float64
Taxi 1km (Normal Tariff)                                                      float64
Taxi 1hour Waiting (Normal Tariff)                                            float64
Gasoline (1 liter)                                                            float64
Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)                   float64
Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)                float64
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment      float64
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)                 float64
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                        float64
Fitness Club, Monthly Fee for 1 Adult                                         float64
Tennis Court Rent (1 Hour on Weekend)                                         float64
Cinema, International Release, 1 Seat                                         float64
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child           float64
International Primary School, Yearly for 1 Child                              float64
1 Pair of Jeans (Levis 501 Or Similar)                                        float64
1 Summer Dress in a Chain Store (Zara, H&M, ...)                              float64
1 Pair of Nike Running Shoes (Mid-Range)                                      float64
1 Pair of Men Leather Business Shoes                                          float64
Apartment (1 bedroom) in City Centre                                          float64
Apartment (1 bedroom) Outside of Centre                                       float64
Apartment (3 bedrooms) in City Centre                                         float64
Apartment (3 bedrooms) Outside of Centre                                      float64
Price per Square Meter to Buy Apartment in City Centre                        float64
Price per Square Meter to Buy Apartment Outside of Centre                     float64
Average Monthly Net Salary (After Tax)                                        float64
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate    float64
Currency                                                                       object
dtype: object

In [44]:
del df['Currency']

In [45]:
df.to_json('numbeo_comparison.json', orient='records')